*{
    box-sizing: inherit;
}
body{
    margin:0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
  

}
header{
    background-color: lightblue;
   display: flex;
   align-items: center;
}
.nav__list{
    list-style: none;
    padding-left:0;
    display: flex;
    background-color: lightblue;
}
.nav__list-item{
    font-size: 1.6rem;
    padding:8px;

}
.menu-bars__icon{
    font-size: 30px;
    color:black;
    display: none;
    margin-left:10px;
    
}
.check{
    display: none;
}
.overlay{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.1);
    display:none;
    animation: fadeIn linear 0.2s;
}
.check:checked ~ .overlay{
    display: block;
}
.check:checked ~ .nav-mobile{
    transform:translateX(0);
    opacity: 1;
}
.nav-mobile{
  
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    width: 300px;
    background-color: white;
    transform:translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
    
}
.nav__list-mb{
   list-style: none;
}
.nav__list-item-mb{
    font-size: 16px;
    padding:8px
}
.close-nav{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 30px;
}
@media screen and (max-width:1200px) {
    .nav__list{
        display: none;
    }
    .nav-mobile{
        display: block;
    }
    .menu-bars__icon{
        display: block;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}